:root {
    --cursor: url(assets/SBurb_Select.cur), auto;
    --color1: rgb(104, 104, 104);
    --gradient: linear-gradient(to bottom,rgb(175, 175, 175),rgb(90, 90, 90));
    --box-shadow: 0px 0px 10px rgb(211, 211, 211) inset;
    --border-size: calc(var(--vw)/240);

    @media only screen and (max-width: 600px) {
        --vw: 400px;          
    }

    @media only screen and (min-width: 600px) {
        --vw: 710px;        
    }

    @media only screen and (min-width: 768px) {
        --vw: 800px;
    }

    @media only screen and (min-width: 992px) {
        --vw: 920px;
    }

    @media only screen and (min-width: 1200px) {
        --vw: 1000px;
    } 

    --fontsize: calc(var(--vw)/40)

}
@font-face {
    font-family: Homestuck;
    src: url(assets/TYPOSTUCK\ \(Slightly\ better\ classic\ Homestuck\ font\)\(1\).ttf);
}

* {
    margin: 0;
    padding: 0;
    cursor: var(--cursor);
    user-select: none;
    box-sizing: border-box;
    font-family: Homestuck;
}


    .blinkies {
        height: 90%;
        width: 15%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        
    }

    .title {
        .hotbar {
            img {
                object-fit: contain;
                height: 60%;
                margin: 3%;
            }
            h1 {
                color: white;
                font-size: 120%;
            }
            .buttons {
                .material-symbols-sharp {
                    background-color: rgb(163, 163, 163);
                    font-size: 70%;
                    box-shadow: calc((var(--vw)/500)) calc((var(--vw)/500)) 0px 0px rgba(0,0,0,1);
                }
                width: 25%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-left: auto;
                margin-right: 4%;           
            }
            background: linear-gradient(to left,rgb(175, 175, 175),rgb(90, 90, 90));
            display: flex;
            align-items: center;
            height:5%;
            border-bottom: var(--border-size) solid var(--color1);
        }

        .descrip {
            .site-title {
                a {
                    img {
                        width: 100%;
                    }
                }
            }
            height: 100%;
            display: flex;
            flex-flow: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            img {
                object-fit: contain;
                width: 100%;
                height: 30%;
            }
            p {
                margin: calc(var(--vw)/50);
                font-size: calc(var(--fontsize)/1.2);
                color: white;
            }
        }
        overflow-y: scroll;
        background-color: rgb(31, 172, 160);
        border: var(--border-size) solid var(--color1);
        height: 90%;
        width: 15%;
        margin: calc(var(--vw)/100);
    }

    body {
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: url(https://i.makeagif.com/media/4-05-2016/utmjeB.gif);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 150%;
    }

    .desktop {
        height: calc(var(--vw)/2);
        width: 60%;
        border: var(--border-size) solid var(--color1);
        box-shadow: 1px 1px 45px -1px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 1px 45px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 1px 45px -1px rgba(0,0,0,0.75);
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    .body {
        height: 78%;
        background-color: rgb(119, 126, 21);
        background-image: url(https://images7.alphacoders.com/324/thumb-350-324431.webp);
        background-blend-mode:multiply;
        background-size: 100%;
        background-position: center;
        display: flex;
        flex-flow: column wrap;
        align-content: flex-start;
    }

    .uph {
        height: 7%;
        background: var(--gradient);
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: var(--box-shadow);
        border-bottom: var(--border-size) solid var(--color1);
        h1 {
            font-size: 130%;
            margin: auto;
            color: white;
        }
        .btry {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: calc(var(--vw)/14);
            margin-left: calc(var(--vw)/40);
            color: white;
            h1 {
                font-size: calc(var(--fontsize)/1.5 );
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }
    }

    .header {
        height: 15%;
        width: 100%;
        border-top: var(--border-size) solid var(--color1);
        background: var(--gradient);
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: var(--box-shadow);
    }

    .header img {
        object-fit: contain;
    }

    #os {
        width: calc(var(--vw)/22);
        margin-left: calc(var(--vw)/50);
    }

    .icon-array {
        box-shadow: var(--box-shadow);
        border: calc(var(--border-size)/1.5) solid var(--color1);
        display: flex;
        gap: calc(var(--vw)/35);
    }

    .icon-array img {
        width: calc(var(--vw)/22);
        padding: calc(var(--vw)/250);
    }

    .hora {
        border-left: var(--border-size) solid var(--color1);
        box-shadow: var(--box-shadow);
        width: calc(var(--vw)/8);
        height: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: calc(var(--vw)/200);
    }

    #hora, #dia {
        font-family: Arial, Helvetica, sans-serif;
        font-size: calc(var(--fontsize)/1.5);
    }

    .body a {
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Homestuck;
        overflow-wrap: anywhere;
        width: calc(var(--vw)/8);
        text-decoration: none;

        &:hover {
            .ptext {
                background-color: rgba(212, 212, 212, 0.5);
                border-color: rgb(231, 231, 231);
            }
        }

    }

    .body a img {
        height: calc(var(--vw)/22);
        width: 100%;
        object-fit: contain;

    }

    #midasico {
        height: calc(var(--vw)/17);
    }

    .ptext {
        box-shadow: var(--box-shadow);
        margin: auto;
        padding: calc(var(--vw)/150);
        padding-top: calc(var(--vw)/250);
        padding-bottom: calc(var(--vw)/250);
        width: fit-content;
        max-width: 75%;
        text-align: center;
        font-size: calc(var(--fontsize)/1.6);
        background: var(--gradient);
        color: white;
        border: calc(var(--vw)/800) solid var(--color1);
    }

    /* link positioning */

    .profile {
        left: 7%;
        top: 3%;
    }

    .browser {
        left: 4%;
        top: 8%;
    }

    .pester {
        left: 25%;
        bottom: 20%;
    }

    .sburb {
        left: 7%;
        bottom: 4%;
    }

    .comms {
        left: 14%;
        top: 55%;
    }

