:root {
    --body-color: #393939;
    --in-body-color: #262626;
}

@keyframes spin {
    from {rotate: 0deg;}
    to {rotate: 360deg}
}

@font-face {
    font-family: "Homestuck";
    src: url("/assets/TYPOSTUCK\ \(Slightly\ better\ classic\ Homestuck\ font\)\(1\).ttf")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: var(--body-color);
    @media only screen and (max-width: 600px) {
        background-color: white;
    }
}

.main {
    position: relative;
    z-index: 1;
    background-color: white;
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    @media only screen and (max-width: 600px) {
        width: 100%;
    }
}

.banner {
    padding: 4%;
    font-size: 150%;
    position: relative;
    z-index: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
    
    text-shadow: 2px 2px 2px #000000;
    
    :not(img) {
        position: relative;
        z-index: 3;
    }

    img {
        image-rendering: pixelated;
        animation: slide 60s linear infinite alternate;
        width: 500%;
        height: 300%;
        position: absolute;
        z-index: 2;
        filter: brightness(50%) saturate(70%);
    }
    .title {
        margin: 2%;
        text-align: center;
        font-family: Homestuck;
        font-weight: 400;
    }
    .desc {
        text-align: center;
        margin: 1%;
    }

    @media only screen and (max-width: 600px) {
        padding: 7%;
        font-size: 100%;

        .title {
            margin: 3%;
        }

        .desc {
            margin: 2%
        }


    }        

}

nav {
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 15vh;
    width: 100%;
    box-shadow: 0px 0px 23px -10px rgba(255, 255, 255, 0.79) inset;
    background: linear-gradient(to bottom, rgb(13, 152, 194), rgb(0, 80, 155));
    margin-bottom: 2%;
    h1 {
        cursor: pointer;
        text-align: center;;
        font-size: 145%;
        width: 20%;
        color: white;
        font-family: Homestuck;
        font-weight: 400;
        transition: .5s;
        text-shadow: 2px 2px 1px #000000;
    }
    h1:hover {
        font-size: 160%;
    }

    @media only screen and (max-width: 600px) {
        height: 7vh;
        margin-bottom: 3%;
        h1 {
            text-shadow: 1.4px 1.4px 1px #000000;
            width: 25%;
            padding: 1%;
            font-size: 100%;
        }
        h1:hover {
            font-size: 105%;
        }
    }        

}

.party-container {

    .inputs {
        width: 70%;

        .input-div {
            margin-bottom: 3%;
            * {
                margin: 0px;
            }
            padding: 5%;
            border-radius: 10px;
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: row;
            align-items: center;
            box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.19) inset;

            .player-label {
                font-size: 100%;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            input {
                text-align: center;
                width: 20%;
                padding-top: 1%;
                border: none;
                margin: 0px auto 0px auto;
                border-radius: 4px;
                background-color: rgb(0, 132, 255);
                color: white;
                font-family: Homestuck;
                font-size: 150%;
                @media only screen and (max-width: 600px) {
                    width: 30%;
                    font-size: 120%;
                }
            }            
        }
        .delete-button {
            cursor: pointer;
            font-size: 90%;
            background-color: rgb(0, 132, 255);
            color: white;
            border: none;
            width: 10%;
            aspect-ratio: 1/1;
            border-radius: 5px;
        }
    }

    * {
        margin-bottom: 4%;
    }

    #difdiv {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 80%;

        #dif-slider {
            position: absolute;
            left: 6%;
            top: 10vh;
            height: 50vh;
            writing-mode: vertical-lr;
            direction: rtl;
            accent-color: rgb(0, 132, 255);
            @media only screen and (max-width: 600px) {
                position: absolute;
                left: 8%;
                top: 10vh;
                height: 15vh;
                writing-mode: vertical-lr;
                direction: rtl;
            }
        } 

        #diftitle {
            font-size: 150%;
            @media only screen and (max-width: 600px) {
                font-size: 90%;
            }
        }

        #difvalue {
            width: 60%;
            line-break: auto;
            text-align: center;
        }

    }

    #sendbtn {
        cursor: pointer;
        background-color: rgb(0, 132, 255);
        border: none;
        padding: 2%;
        padding-bottom: 1%;
        border-radius: 5px;
        color: white;
        font-family: Homestuck;
        font-size: 130%;
    }

    .del {
        padding: 4%;
        padding-top: 3%;
        padding-bottom: 3%;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background: rgb(255, 255, 255);
        color: gray;
        width: 30%;
        height: 30%;
        font-size: 200%;
    }

    .del:active {
        background-color: rgb(218, 218, 218);
    }

    .div-input {
        background-color: gray;
    }
}

.mission-generator {
    .inner-container {
        height: 45vh;
        display: flex;
        width: 100%;
        div {
            padding: 3%;
            padding-top: 0px;
        }
        .flags {
            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: auto 0px auto 0px;
                input[type=number] {
                    width: 30%;
                }
                label {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 100%;
                }
            }
            display: flex;
            flex-direction: column;
        }        
        .prompt {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            height: 100%;
            
            #start {
                position: absolute;
                padding: 0px;
                bottom: 5%;
            }

            #prompt {
                font-family: Homestuck;
                font-weight: 400;
                font-size: 130%;
            }

        }

    @media only screen and (max-width: 600px) {
        height: 35vh;

        .flags {
            div {
                label {
                    font-size: 80%;
                }
            }
        }

        .prompt {
            #prompt {
                font-size: 95%;
            }
        }

    }

    }

}

.party-container, .mission-generator {

    width: 50%;
    @media only screen and (max-width: 600px) {
        width: 90%;
    }    
    margin-top: 3%;
    margin-bottom: 3%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.79) inset;
    position: relative;
    z-index: 3;
    .title {
        text-align: center;
        font-size: 140%;
        font-family: Homestuck;
        font-weight: 400;
        margin: auto;
        margin-bottom: 5%;
        margin-top: 5%;
    }
}

#info {
    padding: 1%;
    width: 70%;

    .title {
        margin-bottom: 1%;
        font-family: Homestuck;
    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 5%;
    }

    @media only screen and (max-width: 600px) {
        .title {
            font-size: 150%;
        }
        p {
            font-size: 90%;
        }
    }
}

.bg {
    position: fixed;
    z-index: -1;
    background-color: white;
    width: 70%;
    height: 200%;
    @media only screen and (max-width: 600px) {
        display: none;
    }
}

@keyframes slide{
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100vw, 0, 0);
  }
}