:root {
    --body-color: #393939;
    --in-body-color: #262626;
}

@keyframes spin {
    from {rotate: 0deg;}
    to {rotate: 360deg}
}

@font-face {
    font-family: "Homestuck";
    src: url("/assets/TYPOSTUCK\ \(Slightly\ better\ classic\ Homestuck\ font\)\(1\).ttf")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: var(--body-color);
    @media only screen and (max-width: 600px) {
        background-color: white;
    }
}

.main {
    position: relative;
    z-index: 1;
    background-color: white;
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    @media only screen and (max-width: 600px) {
        width: 100%;
    }
}

.banner {
    padding: 4%;
    font-size: 150%;
    position: relative;
    z-index: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
    
    text-shadow: 2px 2px 2px #000000;
    
    :not(img) {
        position: relative;
        z-index: 3;
    }

    img {
        image-rendering: pixelated;
        animation: slide 60s linear infinite alternate;
        width: 500%;
        height: 300%;
        position: absolute;
        z-index: 2;
        filter: brightness(50%) saturate(70%);
    }
    .title {
        margin: 2%;
        text-align: center;
        font-family: Homestuck;
        font-weight: 400;
    }
    .desc {
        text-align: center;
        margin: 1%;
    }

    @media only screen and (max-width: 600px) {
        padding: 7%;
        font-size: 100%;

        .title {
            margin: 3%;
        }

        .desc {
            margin: 2%
        }


    }        

}

nav {
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 15vh;
    width: 100%;
    box-shadow: 0px 0px 23px -10px rgba(255, 255, 255, 0.79) inset;
    background: linear-gradient(to bottom, rgb(13, 152, 194), rgb(0, 80, 155));
    margin-bottom: 2%;
    h1 {
        cursor: pointer;
        text-align: center;;
        font-size: 145%;
        width: 20%;
        color: white;
        font-family: Homestuck;
        font-weight: 400;
        transition: .5s;
        text-shadow: 2px 2px 1px #000000;
    }
    h1:hover {
        font-size: 160%;
    }

    @media only screen and (max-width: 600px) {
        height: 7vh;
        margin-bottom: 3%;
        h1 {
            text-shadow: 1.4px 1.4px 1px #000000;
            width: 25%;
            padding: 1%;
            font-size: 100%;
        }
        h1:hover {
            font-size: 105%;
        }
    }        

}

.party-container {

    .inputs {
        width: 70%;
        * {
            margin: auto auto 3% auto;
        }

        .input-div {

            width: 80%;
            height: 50%;
            display: flex;
            flex-direction: column;

            .player-label {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            input {
                border: none;
            }            
        }
        .delete-button {
            width: 50%;
        }
    }

    * {
        margin-bottom: 4%;
    }

    #dif-slider {
        width: 50%;
    }

    .del {
        cursor: pointer;
        border: none;
        background: none;
    }

    .div-input {
        background-color: gray;
    }
}

.party-container, .mission-generator {

    width: 50%;
    @media only screen and (max-width: 600px) {
        width: 70%;
    }    
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.79) inset;
    position: relative;
    z-index: 3;
    .title {
        text-align: center;
        font-size: 150%;
        font-family: Homestuck;
        font-weight: 400;
        margin: auto;
        margin-bottom: 5%;
        margin-top: 5%;
    }
}

.bg {
    position: fixed;
    z-index: -1;
    background-color: white;
    width: 70%;
    height: 200%;
    @media only screen and (max-width: 600px) {
        display: none;
    }
}

@keyframes slide{
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100vw, 0, 0);
  }
}